* {
	margin: 0;
	padding: 0;
}

/* border box fix */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: 'Karma', serif;
}

.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 60px;
}

.cat-img {
	width: 400px;
	border: 5px solid #000;
	box-shadow: 5px 5px 5px #d3d3d3;
	cursor: pointer;
	/*To disable the blue color highlight if and img is clicked*/
	user-select: none;
}

.clicks,
.cats-title {
	text-align: center;
	margin-top: 10px;
}

.cats-title {
	margin-bottom: 10px;
}